{% extends "layout.html" %}
{% block content %}
    <h1>Iniciar Sesión</h1>
    <form id="login-form" method="POST">
        <label>Usuario:</label><br>
        
        <div class="campo-usuario-especial">
            <span class="simbolo">@</span>
            <input type="text" name="usuario" id="usuario" placeholder="tuusuario" required>
        </div>

        <label>Contraseña:</label><br>
        <input type="password" name="password" required><br>

        <a href="/olvide_password">¿Olvidaste tu contraseña?</a> <br><br>
        
        <button type="submit">Entrar</button>
    </form>



<script src="{{ url_for('static', filename='js/login.js') }}"></script>
{% endblock %}