{% extends "layout.html" %}

{% block content %}
<div style="padding: 20px;">
    <h2>Establecer Nueva Contraseña</h2>
    <p>El enlace es válido. Por favor, ingresa tu nueva contraseña a continuación.</p>

    <form action="/restablecer-password/{{ token }}" method="POST">
        <label for="password">Nueva Contraseña:</label>
        <input type="password" id="password" name="password" required placeholder="Escribe tu nueva clave">
        <br><br>
        <button type="submit">Guardar nueva contraseña</button>
    </form>
</div>
{% endblock %}